<div class="container">
  <div [hidden]="submitted">
    <h1>Add Actor Schedules for Movie</h1>
    <form  #actmovForm="ngForm">
      <div class="form-group">
        <label for="actor_id">Actor ID</label>
        <select class="form-control" id="actor_id"
                required
                [(ngModel)]="model.actor_id" name="actor_id"
                #actor_id="ngModel">
          <option *ngFor="let act of actors" [value]="act.id">{{act.lastname}} {{act.firstname}}</option>
        </select>
        <div [hidden]="actor_id.valid || actor_id.pristine"
             class="alert alert-danger">
          Actor ID is required
        </div>
      </div>
      <div class="form-group">
        <label for="movie_id">Movie ID</label>
        <select class="form-control" id="movie_id"
                required
                [(ngModel)]="model.movie_id" name="movie_id"
                #movie_id="ngModel">
          <option *ngFor="let mov of movies" [value]="mov.id">{{mov.title}}</option>
        </select>
        <div [hidden]="movie_id.valid || movie_id.pristine"
             class="alert alert-danger">
          Movie ID is required
        </div>
      </div>
      <div class="form-group">
        <label for="start_date">Schedule Start Date</label>
        <input style="margin-left: 20px;" matInput [matDatepicker]="startDate" id="start_date"
        [(ngModel)]="model.start_date" [min]="minToday" [max]="maxDate"
        placeholder="Choose Start Date" (dateChange)="error.isError = null"
        name="start_date" readonly required>
        <mat-datepicker-toggle matSuffix [for]="startDate"></mat-datepicker-toggle>
        <mat-datepicker #startDate></mat-datepicker>
      </div>
      <div class="form-group">
        <label for="end_date">Schedule End Date</label>
        <input style="margin-left: 20px;" matInput [matDatepicker]="endDate" id="end_date"
        [(ngModel)]="model.end_date" [min]="minToday" [max]="maxDate"
        placeholder="Choose End Date" (dateChange)="error.isError = null"
        name="end_date" readonly required>
        <mat-datepicker-toggle matSuffix [for]="endDate"></mat-datepicker-toggle>
        <mat-datepicker #endDate></mat-datepicker>
      </div>
     <button type="submit" class="btn btn-success" (click)="addSchedule()"
            [disabled]="!actmovForm.form.valid">Submit
     </button>
     <button type="reset" style="margin-left: 20px;" class="btn btn-default">Reset</button>
  </form>
 </div>
</div>

<div style="margin-top: 20px;" class="text-danger" *ngIf="error.isError">{{error.errorMessage}}</div>
