/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';

.appheader {
    text-align: center;
    color: white;
    font-size: large;
    font-weight: bold;
}
a:hover {
 cursor:pointer;
}

.form-control{
    width:auto;
}

img: hover {
    cursor: pointer;
}
