<div class="container">

      <nav class="navbar navbar-inverse">
        <div class="appheader">
          SMADD CASTING AGENCY
        </div>
        <ul class="nav navbar-nav" *ngIf="auth.token">
          <li>
            <a routerLink="movies" routerLinkActive="active">Movies</a>
          </li>
          <li>
            <a routerLink="actors" routerLinkActive="active">Actors</a>
          </li>
          <li *ngIf="auth.can('delete:actors')">
            <a routerLink="actmov" routerLinkActive="active">Schedule Actor/Movies</a>
          </li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li>
            <button style="font-weight: bold; margin-left: 8px;" *ngIf="auth.token" class="btn navbar-btn" (click)="logout()">Log Out</button>
          </li>
        </ul>
      </nav>
      <div *ngIf="!auth.token">
          Please login
          <a style="font-weight: bold; margin-left: 8px;" *ngIf="!auth.token"  class="btn navbar-btn"  (click)="goLogin()">Log in</a>

      </div>
      <div *ngIf="auth.token">
          You are currently logged in as <b>{{ (auth.userProfile && auth.userProfile.name) ?  auth.userProfile.name : auth.userProfile }}</b>
      </div>
      <div class="col-sm-12" *ngIf="auth.token">
        <router-outlet></router-outlet>
      </div>
</div>
